nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/
log*.txt*
dist/
history.sqlite
history.sqlite-journal
config.conf
stdout.txt
stderr.txt

#idea ignores
out/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
