body{
	font-family: Tahoma;
	font-size: 14px;
}

.message-div{
	padding: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

.username-sent{
	font-size: 15px;
	font-weight: bold;
}

.username-unsent{
	font-size: 15px;
	font-weight: bold;
	color: #f73900;
}

.time{
	font-size: 0px;
}